@layer components {
	main {
		gap: var(--gutter);
	}

	fieldset {
		display: grid;
		gap: var(--space--1);
		width: max-content;
		justify-self: center;
	}

	fieldset > div {
		width: max-content;
	}

	/*this is needed because non-waapi animations dont have an endDelay*/
	@keyframes shake {
		2% {
			transform: translate(-25px);
		}
		4% {
			transform: translate(25px);
		}
		6% {
			transform: translate(-25px);
		}
		7% {
			transform: translate(0px);
		}
	}

	@keyframes zoom {
		2% {
			transform: scale(1.2);
		}
		4% {
			transform: scale(1);
		}
		6% {
			transform: scale(1.2);
		}
		7% {
			transform: scale(1);
		}
	}

	.shake {
		animation: shake 3000ms 500ms ease;
		color: red;
	}

	.shake.border {
		border-color: red;
	}

	.zoom {
		animation: zoom 3000ms 500ms ease;
		color: green;
	}

	.zoom.border {
		border-color: green;
	}
}
