@layer theme, layout, components;

@import "./styles/vars.css" layer(theme);
@import "./styles/resets.css" layer(theme);

@layer layout {
	/*adapted from https://projects.verou.me/css3patterns/#starry-night*/
	html {
		background-color: var(--grey-100);
		background-image: radial-gradient(var(--grey-10), var(--grey-70) 2px, transparent 4px),
			radial-gradient(var(--grey-10), var(--grey-80) 1px, transparent 3px),
			radial-gradient(var(--grey-10), var(--grey-90) 2px, transparent 4px),
			radial-gradient(var(--grey-60), var(--grey-90) 2px, transparent 3px);
		background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
		background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	}

	body {
		max-width: 50em;
		margin-inline: auto;
	}

	:where(p, a, li, button, legend, label) {
		font-size: var(--font-1);
	}

	h1 {
		padding: var(--space-1);
		font-size: var(--font-4);
		line-height: 1.1;
	}

	h2,
	header > p {
		font-size: var(--font-3);
		line-height: 1.1;
	}

	h3 {
		line-height: 1.1;
		font-size: var(--font-2);
	}

	.list {
		display: grid;
		grid-auto-flow: row;
		gap: var(--space-1);
	}
}
